@media (min-width: 768px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 1% 2%;
        .navHamburger{
            display: none;
        }
        .navDesktop{
            display: inline-block;
            text-decoration: none;
            color: #000000;
            overflow: hidden;
        }
    }
    header{
        figure{
            width: 50%;
        }
    }
    main{
        grid-template-columns: 1fr 1fr;
        #mainLeft{
            grid-column: 1;
            grid-row: 1;
        }
        #mainRight{
            grid-column: 2;
            grid-row: 1;
        }
    }
    footer{
        flex-direction: row;
        justify-content: space-around;
        padding: 2% 7%;
        p{
            flex-grow: 5;
            margin: 0;
        }
        #footerLinks{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-grow: 1;

        }
        #footerForm{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-grow: 1;
        }
    
    }
}
