@keyframes bracketMove{
    0% {transform: translateX(0);}
    50% {transform: translateX(20%);}
    100% {transform: translateX(0);}
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.svgBrackets{
    animation: bracketMove 5s linear 0s infinite;
}
.svgGear{
    animation: rotate 5s linear 0s infinite;
    transform-origin: 79.1% 79.1%;

}