@keyframes bracketMove {
  0% {
    left: 0px;
  }
  100% {
    left: 100px;
  }
}
* {
  box-sizing: border-box;
}

h4 {
  margin: 0;
  padding: 1% 2%;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 4% 2%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h5 {
  margin: 0;
  padding: 2% 2%;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

nav {
  background-color: #060606;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
nav .navDesktop {
  display: none;
}
nav .navLink {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
nav .navHamburger {
  font-size: 32px;
}
nav .navHamburger #navHamburgerLinks {
  display: none;
  padding: 10px 0px;
}
nav .navHamburger a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
nav .navHamburger #hamburgerIcon {
  position: absolute;
  right: 20px;
  top: 15px;
}
nav .navHamburger #hamburgerIcon:hover {
  color: #ffa500;
}
nav #containerLogoTop img {
  width: 35px;
}

header {
  display: flex;
  justify-content: center;
}
header figure {
  width: 100%;
}
header figure img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
}

#mainLeft {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  padding: 1%;
  border: 1px solid #000000;
  margin-bottom: 1%;
}

#mainLeftCard {
  border: 1px solid gray;
}
#mainLeftCard figure {
  margin: 0;
  padding: 2% 2%;
}
#mainLeftCard figure img {
  width: 100%;
}

.userIcons {
  padding: 1% 2%;
}
.userIcons span {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  padding: 0 5px;
}
.userIcons span i {
  padding: 0 2px;
}

#mainRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  padding: 2%;
  border: 1px solid #000000;
  margin-bottom: 1%;
}
#mainRight i {
  padding: 0 5px;
}
#mainRight h5 {
  width: 100%;
  text-align: center;
  background-color: dimgrey;
  color: #ffffff;
}
#mainRight ul {
  list-style-type: circle;
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
}
#mainRight ul a {
  text-decoration: none;
}
#mainRight .mainRightSocialLinks {
  color: black;
}
#mainRight #mainRightDescription {
  margin: 0;
  padding: 4% 2%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#mainRightRound {
  width: 25%;
}
#mainRightRound img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #000000;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #060606;
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 5%;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer #footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #footerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footerButton {
  background-color: #ffaf6d;
  border: 1px solid #ffffff;
  color: #000000;
}

#footerButton:hover {
  background-color: #ffffff;
}

#footerInput {
  border-radius: 3px;
  border: none;
  height: 20px;
  margin: 10px 2px;
}

#footerInput:focus {
  background-color: #ffaf6d;
  outline: none;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 2%;
    align-items: center;
  }
  nav .navHamburger {
    display: none;
  }
  nav .navDesktop {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
  }

  header figure {
    width: 50%;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
  main #mainLeft {
    grid-column: 1;
    grid-row: 1;
  }
  main #mainRight {
    grid-column: 2;
    grid-row: 1;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 7%;
  }
  footer p {
    padding: 2%;
    flex-grow: 5;
    margin: 0;
  }
  footer #footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
  }
  footer #footerForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
  }
}
@keyframes bracketMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svgBrackets {
  animation: bracketMove 5s linear 0s infinite;
}

.svgGear {
  animation: rotate 5s linear 0s infinite;
  transform-origin: 79.1% 79.1%;
}

/*# sourceMappingURL=main.css.map */
