main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
}
    #mainLeft{
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
        padding: 1%;
        border: 1px solid $black;
        margin-bottom: 1%;
    }
        #mainLeftCard{
            border: 1px solid gray;

            figure{
                margin: 0;
                padding: 2% 2%;
                img{
                    width: 100%;
                }
            }
        }
            .userIcons{
                padding: 1% 2%;
                span{
                    font-family: $ubuntu;
                    font-size: $medium;
                    padding: 0 5px;
                    i{
                        padding: 0 2px;
                    }
                }
            }
    #mainRight{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1;
        grid-row: 2;
        padding: 2%;
        border: 1px solid $black;
        margin-bottom: 1%;
        i{
            padding: 0 5px;
        }
        h5{
            width: 100%;
            text-align: center;
            background-color: dimgrey;
            color: $white;
        }
        ul{
            list-style-type: circle;
            align-self: flex-start;
            font-family: $poppins;
            a{
                text-decoration: none;
            }
        }
        .mainRightSocialLinks{
            color: black;
        }
        #mainRightDescription{
            margin: 0;
            padding: 4% 2%;
            font-family: $poppins;
            font-size: $medium;
        }
    }
        #mainRightRound{
            width: 25%;
            img{
                width: 100%;
                border-radius: 50%;
                border: 1px solid $black;

            }
        }

