main{
    display: grid;
    grid-template-columns: 1fr;
    height: 63vh;
    #mainLeft{
        display: flex;
        flex-direction: column;
        background-color: green;
        grid-column: 1;
        grid-row: 1;
        padding: 1%;
        #mainLeftTop{
            background-color: gray;
            height: 50%;
        }
        #mainLeftBottom{
            background-color: aqua;
            height: 50%;
        }
    }
    #mainRight{
        background-color: red;
        grid-column: 1;
        grid-row: 2;
        padding: 1%;
        #mainRightCourses{
            background-color: pink;
            height: 100%;
        }
    }
}

