nav{
    background-color: $sable;
    padding: 1%;
    display: flex;
    flex-direction: column;
    .navDesktop{
        display: none;
    }
    .navLink{
        padding-left: 7px;
        padding-right: 7px;
        font-size: 24px;
        color: $white;
        text-decoration: none;
        font-family: $poppins;
        font-size: $large;
    }
    .navHamburger {
        font-size: 32px;
        #navHamburgerLinks{
            display: none;
            padding: 10px 0px;
        }
        a{
            display: block;
            color: $white;
            text-decoration: none;
        }
        #hamburgerIcon{
            position: absolute;
            right: 20px;
            top: 15px;
        }    
        #hamburgerIcon:hover{
            color: $orange;
        }    
    }
    #containerLogoTop{
        img{
            width: 35px;
        }
    }
}